body {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  font-family: "PT Sans", "Arial", sans-serif;

  min-width: 1200px;
  margin: 0;
  padding: 0;
}

.reason h2,
.feature h3 {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  /* line-height, text-transform, font-family не задаю, они такие же, как у body, наследуются */
}

.blue h2,
.blue p {
  color: #ffffff;
}




.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;

  position: relative;
/*  padding: 0 40px; */



/*  outline: 1px solid yellow; */
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);


}


.main-header {
  min-height: 56px;
  position: relative;


}

.menu-left {
  width: 480px;
  float: left;

}

.menu-right {
  width: 480px;
  float: right;

}

.logo {
  width: 138px;
  position: absolute;
  left: 50%;
  margin-left: -69px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  width: 240px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

}


.main-navigation a {
  color: #000000;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  opacity: 0.3;
}


.main-navigation .active {
  color: #766357;
  cursor: default;
  pointer-events: none;
}

.background-photo {
  min-height: 508px;
  margin-bottom: 62px;
/*  background: url(../img/background-photo.jpg) no-repeat,
              url(../img/welcome-text.png) no-repeat; */

  background: url(../img/welcome-text.png) no-repeat center center,
              url(../img/shape-background.png) no-repeat bottom center,
              url(../img/background-photo-1200.jpg) no-repeat;

}

.info-about {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
}

.reasons-about {
  margin-bottom: 52px;
}

.reason h2 {
  width: 160px;
  margin: 0 auto;
}

.info-about,
.reasons-about,
.reason p,
.feature p,
.form-descr p,
.search-block p {
  text-align: center;
}

.form-descr {
  line-height: 24px;
}

.reason {
  width: 280px;
  float: left;
  min-height: 190px;
  background-color: #eeeeee;
  padding-top: 46px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;

}

.reason p {
/*  width: 302px; */
  margin: 0 auto;
  margin-top: 25px;
}

.reason .reason-descr {
  margin-top: 21px;
}

 .reason-img {
  line-height: 0;

}


.reason-img h2,
.reason-img p {
  line-height: 21px;
}



.reason-img img {
  width: 800px;
  height: 256px;

}

.blue {
  background-color: #81b3d2;
  min-height: 182px;
  padding-top: 54px;
}

.pos-right {
  float: right;
}

.feature {
  width: 300px;
  min-height: 254px;
  float: left;

  padding-top: 56px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;


}

.feature img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}



.reasons {
  margin-bottom: 55px;

}



.search-block b {
  display: block;
  font-size: 30px;
  line-height: 24px;
  color: #000000;

  text-align: center;
  margin-bottom: 31px;
}

.search-block p {
  margin-bottom: 46px;
}

.search-button {
  display: block;
  width: 528px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #766357;

}

.search-block {
  position: relative;
}

.map {
  width: 1200px;
  height: 593px;
}

.main-footer {
  padding: 36px 0;
}

.position-absolute {
  position: absolute;
  bottom: 0;

  background-color: #fefefe;
  opacity: 0.9;

}

.footer-hashtag {
  width: 400px;
  float: left;

  text-align: center;
  padding-top: 10px;

}

.footer-hashtag a {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;

  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

}

.footer-hashtag a:hover {
  color: #81b3d2;

}

.footer-hashtag a:active {
  opacity: 0.3;
}

.footer-social {
  width: 400px;
  float: left;

  text-align: center;
  font-size: 0;

}


.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin: 0 3px;


  vertical-align: top;
  text-decoration: none;

  background-color: #81b3d2;
}

.social-btn-twitter {
  background: #81b3d2 url("../img/twitter-icon.png") no-repeat center;
}

.social-btn-fb {
  background: #81b3d2 url("../img/facebook-icon.png") no-repeat center;
}

.social-btn-youtube {
  background: #81b3d2 url("../img/youtube-icon.png") no-repeat center;
}


.social-btn-twitter:hover,
.social-btn-fb:hover,
.social-btn-youtube:hover {
  background-color: #669ec0;
}

.social-btn-twitter:active {
    background: #5496bd url("../img/twitter-icon-opacity.png") no-repeat center;
}

.social-btn-fb:active {
    background: #5496bd url("../img/facebook-icon-opacity.png") no-repeat center;
}

.social-btn-youtube:active {
    background: #5496bd url("../img/youtube-icon-opacity.png") no-repeat center;
}



.footer-copyright {
  width: 400px;
  float: right;

  text-align: center;

/*  vertical-align: baseline; */

  font-size: 0;

}

.footer-copyright p {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #000000;

  margin: 0;
  margin-top: 14px;
  margin-right: 6px;



}

.footer-copyright a {
  display: inline-block;
  vertical-align: top;

  width: 113px;
  height: 39px;

  font-size: 0;
  text-decoration: none;
  background-image: url("../img/ha-logo.png");
  margin-top: 5px
}

.footer-copyright a:hover {
  background-image: url("../img/ha-logo-hover.png");
}

.footer-copyright a:active {
  background-image: url("../img/ha-logo-active.png");
}

.options ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.checkbox-item {
  padding-top: 15px;
  padding-bottom: 10px;
}

.options fieldset {
  border: none;
}

.options legend {
  border: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;

  margin-left: -41px;
  margin-bottom: 7px;
}

.options:last-of-type legend {
  text-align: left;
  margin-left: 0;
}

.options label {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.checkbox-item label {
  position: relative;
  cursor: pointer;
}


.checkbox-item label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -41px;
    z-index: 1;
    width: 22px;
    height: 22px;
    background-image: url("../img/checkbox.png");
}

.checkbox-item input[type="checkbox"] {
    display: none
}

.checkbox-item input[type="checkbox"]:checked ~ label::before {
    width: 26px;
    height: 22px;
    background-image: url("../img/checkbox-checked.png");
}

.options {
  width: 225px;
  float: left;

  margin-left: 30px;

}

.options:last-of-type {
  width: 318px;
  float: right;

  color: #ffffff;
  text-transform: uppercase;
}



.filter-range-title {
  margin-bottom: 12px;
  margin-left: -10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 26px;
  margin-bottom: 20px;
  padding-top: 5px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
/*  padding-left: 65px; */
  padding-left: 22px;

}

.price-container {
  display: inline-block;
  vertical-align: top;
  width: 157px;
  text-align: center;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 33px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
/*  margin: 0 auto; */
  margin-left: 85px;
  padding: 6px 20px;
  width: 137px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.settings {
  padding: 25px 72px;
  padding-bottom: 10px;
  min-height: 182px;
  background: #404d55 url("../img/filter-background.jpg") no-repeat;
}

.output-result {
  width: 164px;
  float: left;

/*  outline: 1px solid blue; */
}



.output-result p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding-top: 2px;
}


.sorting-settings {
  width: 550px;
  float: left;

  vertical-align: top;
  padding-top: 6px;
/*  outline: 1px solid blue; */
}

.sorting-settings li,
.sorting-indicator li,
.sorting-settings p,
.sorting-settings ul
 {
  display: inline-block;
  vertical-align: baseline;
}

/*.sorting-settings p {
  float: left;
} */



.sorting-settings ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-settings li {
  padding-left: 14px;
  padding-right: 14px;
}

.sorting-settings p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  margin-right: 22px;
}



.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;

}


.sorting-list .active-type {
    color: #81b3d2;
    border-bottom: none;
}

.sorting-indicator {
  width: 200px;
  float: right;

  text-align: right;
  padding-top: 11px;
  font-size: 0;

/*  outline: 1px solid blue; */
}

.sorting-indicator a {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin-left: 12px;
    margin-right: 1px;
    font-size: 0;
}

.arrow::before {
    content: "";
    border: 10px solid #cccccc;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.arrow-up::before {
    border-top-width: 0;
    display: inline-block;
}

.arrow-down::before {
    border-bottom-width: 0;

}

.active-arrow::before {
  border-color: #81b3d2;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow:hover::before {
  border-color: #000000;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow:active::before {
  border-color: #81b3d2;
  border-right-color: transparent;
  border-left-color: transparent;
}



.output-header {
  padding: 28px 72px;
/*  vertical-align: bottom; */
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 28px;
  padding-bottom: 10px;
  min-height: 48px;
  border-bottom: 1px solid #e5e5e5;
/*  outline: 3px solid yellow; */
}

.hotel-photo {
  width: 135px;
  float: left;
  margin-right: 30px;
  line-height: 0;

/*  outline: 1px solid red; */
}

.hotel-photo img {
  width: 135px;
  height: 90px;
}

.hotel-descr {
  width: 564px;
  float: left;
/*  min-height: 90px; */
/*  outline: 1px solid red; */
}

.link-hotel {
  text-decoration: none;
  color: #000000;
}

.link-hotel:hover {
  color: #81b3d2;
}


.link-hotel:active {
  color: rgba(0,0,0,0.3);
}

.info-container {
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  margin-right: 3px;

/*  outline: 1px solid yellow; */
}

.info-container span {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.btn {
    display: block;

    margin: 0 auto;
    margin-top: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", "Arial", sans-serif;

    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.hotel-title {
  margin: 0;
  padding: 0;
  margin-top: -4px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
}

.hotel-about {
  width: 90px;
  background-color: #81b3d2;
}

.hotel-about:hover {
  background-color: #669ec0;
}

.hotel-about:active {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.hotel-book {
  width: 122px;
  background-color: #766357;
}

.hotel-book:hover {
  background-color: #604e43;
}

.hotel-book:active {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}


.rating {
  width: 200px;
  float: right;
  text-align: right;
  background: no-repeat top right;
  min-height: 90px;

/*  outline: 1px solid red; */
}

.four-star {
  background-image: url("../img/4-star-rating.png");
}

.three-star {
  background-image: url("../img/3-star-rating.png");
}

.two-star {
  background-image: url("../img/2-star-rating.png");
}



.hotel {
  padding: 30px 72px 20px;
  min-height: 100px;
  border-bottom: 1px solid #e5e5e5;
/*  outline: 3px solid blue; */
}

.rating-value {
  display: inline-block;
  width: 90px;
  margin-top: 63px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #f2f2f2;
  text-align: center;
  margin-right: 1px;
  /*margin-right: 1px;*/
}

.search-window {
  position: absolute;
  left: 316px;

  padding: 55px;
  width: 458px;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}

.calendar-container input[type="text"] {
  box-sizing: border-box;
  height: 38px;
  width: 346px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
  border: none;
  color: #000000;
  text-transform: uppercase;

  padding-right: 40px;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;

  vertical-align: top;
/*  outline: none; */

}

.calendar-container input[type="text"]:hover {
  background-color: #ebebeb;
}

.calendar-container input[type="text"]:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;

}

.search-window label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  font-family: "PT Sans", "Arial", sans-serif;

}

.check-in-out-container label,
.counter-container label {
  display: inline-block;

  padding-top: 5px;

}


.calendar {
  position: absolute;
  font-size: 0;
  right: 4px;
  top: 4px;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border: none;
  background: transparent url("../img/calendar-icon.png") no-repeat center center;

}

.calendar:hover {
  background-image: url("../img/calendar-icon-hover.png");
}

/*
.calendar:focus {
  outline: 2px solid #e5e5e5;
}
*/

.calendar:active {
  background-image: url("../img/calendar-icon-active.png");
}

.calendar-container {
  float: right;
  position: relative;
/*  padding-right: 38px; */
}

.check-in-out-container {
  margin-bottom: 30px;

}

.counter-container {
/*  box-sizing: border-box;*/
  width: 229px;
  float: left;
}

.counter-container:first-of-type {
  box-sizing: border-box;
  padding-right: 2px;
}

.counter-container:last-of-type {
  box-sizing: border-box;
  padding-left: 50px;
}

.counter {
  float: right;
  position: relative;
  width: 38px;
  padding-right: 38px;
  padding-left: 38px;
}


.counter input[type="number"] {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  height: 38px;
  width: 38px;

  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
  border: none;
  color: #000000;
  text-transform: uppercase;

  padding-right: 6px;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;

  text-align: center;
/*  width: 14px; */
  vertical-align: top;
/*  outline: none; */
}


.counter input[type="number"]:hover {
  background-color: #ebebeb;
}

.counter input[type="number"]:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}


.minus {
  position: absolute;
  font-size: 0;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 38px;
  height: 38px;
  border: none;
  background: #f2f2f2 url("../img/minus.png") no-repeat center center;
}

.minus:hover {
  background-image: url("../img/minus-hover.png");
}



.minus:active {
  background-image: url("../img/minus-active.png");

}


.plus {
  position: absolute;
  font-size: 0;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 38px;
  height: 38px;
  border: none;
  background: #f2f2f2 url("../img/plus.png") no-repeat center center;
}

.plus:hover {
  background-image: url("../img/plus-hover.png");
}


.plus:active {
  background-image: url("../img/plus-active.png");
}


.counter input[type=number]::-webkit-inner-spin-button,
.counter input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter input[type=number] {
    -moz-appearance: textfield;
}

.counters-container {
  margin-bottom: 54px;
}

.search-btn {

  width: 458px;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;

  background-color: #81b3d2;

}

.search-btn:hover {
  background-color: #669ec0;
}

.search-btn:active {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}


.close-search-window {
  display: none;
}
